#menu {
  padding: 0;
  list-style-type: none;
  width: 960px;
  background: rgb(220, 255, 224);
  /* min-height: 38px; */
  margin-left: 480px;
}
#menu li {
  float: left;
  /* border-right: 1.5px solid orange; */
  position: relative;
}
#menu :last-child {
  border-right: none;
}
#menu li a {
  color: black;
  text-decoration: none;
  background: rgb(220, 255, 224);#000;
  padding: 10px 20px;
  display: block;
  /* text-transform: uppercase; */
 
  
}
#menu li a:hover {
  background: orange;
}
#menu li ul{
    list-style-type:none;
    padding: 0px;
    position: absolute;
    left: -9999px;
    
}
#menu li:hover ul{
    left: 0;
}
#menu li ul li{
    float: none;
}