* {
  margin: 0;
  padding: 0;
}
.main {
  width: 960px;
  margin: 50px auto;
}
img {
  width: 300px;
  height: 180px;
}
.box {
  width: 300px;
  float: left;
  margin-right: 30px;
}
.box h2 {
  color: chocolate;
  text-transform: uppercase;
  transition: color 2s;
}
.box h2:hover {
  color: rgb(225, 0, 255);
}
.box p {
  text-align: justify;
}
.box a {
  font-weight: bold;
  text-decoration: none;
  background-color: brown;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto;
  padding: 3px;
  display: block;
  transition: background-color 2s;
}
.box a:hover {
  color: rgb(15, 15, 15);
  background-color: blue;
}
.nomargin {
  margin-right: 0px;
}
