body {
  background-image: url(img/flower.jpg);
  background-size: 1280px 1280px;
  background-attachment: fixed;
}
.audio {
  text-align: center;
}

p {
  color: rgb(20, 39, 69);
}

.color {
  color: rgb(222, 0, 0);
  font-weight: bold;
}
#color {
  color: rgb(16, 16, 233);
}
.bold {
  color: chocolate;
  font-style: italic;
  font-weight: bold;
}
.decoration {
  text-decoration: underline;
}
.font {
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;
}
.div {
  color: rgb(235, 12, 12);
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  /* padding: 10px; */
  background-color: blue;
  float: left;
  margin-left: 450px;
  -moz-transition: backbround-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;

  transition: background-color 2s;
}
.div:hover {
  color: #000;
  background-color: rgb(237, 100, 105);
  /* transform: rotate(90deg); */
}
.div2 {
  color: #000;
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  float: right;
  margin-right: 450px;
}
.overflow > p {
  color: rgb(16, 246, 4);
  background-image: url(img/wallpaperflare.com_wallpaper.png);
  background-attachment: fixed;

  width: 300px;
  height: 300px;
  margin-top: 20px;
  padding: 10px;
  margin-right: 1000px;
  float: right;
  /* background-color: rgb(13, 201, 201); */
  overflow: scroll;
}
